<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ultra&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Salary Prediction</title>
</head>

<body style="background-color: skyblue;">

    <h1 class="text-center mt-4">Predict Salary</h1>

    <div class="container text-center mt-5">
        <form action="/predict" method="POST">
            <input type="text" name="SAT" placeholder="Enter GPA" required>
            <br><br>
            <button class="btn btn-success">Submit</button>
        </form>

        <br>

        <h3><strong>Salary = {{ prediction_text }}</strong></h3>

        <br><br>

        <h1>Project By Mouni</h1>
        <h2>Data Scientist and NLP Engineer</h2>
    </div>

</body>
</html>
